{% extends 'base/base.html' %}
{% load static %}
{% block title %}Python pro - Home{% endblock title %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">

			<div class="jumbotron">
				<h2>
					Curso de Python com Luciano Ramalho
				</h2>
				<h4>Matriculas abertas custo R$ 10,00</h4>
				<!-- INICIO DO BOTAO PAGSEGURO -->
				<a href="https://pag.ae/7VPJveUw3/button" target="_blank" title="Pagar com PagSeguro">
					<img src="//assets.pagseguro.com.br/ps-integration-assets/botoes/pagamentos/205x30-pagar.gif"
						 alt="Pague com PagSeguro - é rápido, grátis e seguro!" />
				</a>
				<!-- FIM DO BOTAO PAGSEGURO -->
				<h4 class="mt-4">Entre na fila de espera</h4>

				<form action="https://herokuapp.us19.list-manage.com/subscribe/post?u=bf784202bf869e1c4cfc10727&amp;id=8701a82fac"
					  method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form"
					  class="form-row align-items-center" target="_blank" novalidate>

					<div class="form-row align-items-center">
						<div class="col-auto">
							<label class="sr-only" for="mce-EMAIL">Email</label>
							<input type="email" value="" name="EMAIL" class="form-control required" id="mce-EMAIL" placeholder="exemplo@email.com">
						</div>
						<div class="col-auto">
							<label class="sr-only" for="mce-FNAME">Nome</label>
							<input type="text" value="" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Seu nome">
						</div>
						<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
						<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
																								  name="b_bf784202bf869e1c4cfc10727_8701a82fac"
																								  tabindex="-1"
																								  value=""></div>

						<div class="col-auto">
							<input type="submit" value="Salvar" name="salvar"
								   id="mc-embedded-subscribe" class="btn btn-primary">
						</div>
					</div>
				</form>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="card">
						<h5 class="card-header">
							Mais detalhes sobre o instrutor
						</h5>
						<div class="card-body">
							<p class="card-text">
								<img src="{% static 'img/Wojtek_soldier_bear.png' %}" alt="Foto de Wojtek" class="img-thumbnail float-left mr-3" />
								Confira em breve mais informações sobre o curso que será ministrado pelo autor do livro
								<a href="http://shop.oreilly.com/product/0636920032519.do" target="_blank"> Python Fluente </a>
								Mussum Ipsum, cacilds vidis litro abertis. Paisis, filhis, espiritis
								santis. Praesent malesuada urna nisi, quis volutpat erat hendrerit non.
								Nam vulputate dapibus. Não sou faixa preta cumpadi, sou preto inteiris, inteiris.
								Tá deprimidis, eu conheço uma cachacis que pode alegrar sua vidis.
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock body %}